{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Вход в аккаунт</h2>
    <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button type="submit">Войти</button>
    </form>
    <p>У вас нет аккаунт? <a href="{% url 'register' %}">Регистрация</a></p>
</body>
</html>
{% endblock %}
