{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>WebSocket Чат</title>
</head>
<h2>{{ chat.name }}</h2>
<body>

<h2>Список участников:</h2>
<ul>
   {% for member in members %}
    <li><a href="{% url 'user_detail' user_id=member.id %}">{{ member.username }}</a></li>
  {% endfor %}
</ul>

<div id="chat-messages">

</div>
<div>
    <input type="text" id="message-input" placeholder="Ваше сообшение">
    <button id="send-button">Отправить</button>
    <form action="{% url 'exit_chat' chat.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" id="exit-button">Выход</button>
    </form>
</div>
<script>
    const chatId = {{ chat.id }};
</script>

<script src="{% static 'chat_app/js/chat.js' %}"></script>

</body>
</html>
{% endblock %}