{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html>
<head>
    <title>Чат</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1>Список чатов</h1>
    <ul>
        {% for chat in chats %}
            <li><a href="{% url 'chat_detail' chat.id %}">{{ chat.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_chat' %}">Создать чат</a>

    {% if not user.is_authenticated %}
        <p>Вы не вошли в систему. <a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.</p>
    {% else %}
        <p>Добро пожаловать, {{ user.username }}. <a href="{% url 'logout' %}">Выйти</a></p>
    {% endif %}

</body>
</html>
{% endblock %}