{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
  {% if user.is_authenticated %}
    <h2>Создание чата</h2>
    <form method="post" action="{% url 'create_chat' %}">
      {% csrf_token %}
      <label for="chat_name">Название:</label>
      <input type="text" name="chat_name" required>
      <br>
      <input type="submit" value="Создать">
    </form>
  {% else %}
    <p>Пожалуйста войдите для создания чата</p>
  {% endif %}
{% endblock %}