{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
  <h2>Профиль</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if request.user == request.user.userprofile.user %}
      {{ form.as_p }}

      <button type="submit">Сохранить изменения</button>

      <input type="file" name="Аватар">
    {% endif %}
  </form>

  <h3>Информация о профиле</h3>
  <p>Имя пользователя: {{ request.user.username }}</p>
  <p>Аватар:</p>
  {% if request.user.userprofile.avatar %}
    <img src="{{ request.user.userprofile.avatar.url }}" alt="User Avatar" style="max-width: 200px;">
  {% else %}
    <p>У пользователя нет аватарки</p>
  {% endif %}
{% endblock %}