{% block content %}
  <h2>User Profile Detail</h2>

  <h3>Profile Information</h3>
  <p>Username: {{ user.user.username }}</p>

  {% if request.user == user.user %}
    <!-- Поля для редактирования профиля только для владельца аккаунта -->
    <p>Email: {{ user.user.email }}</p>
    <!-- Другие поля профиля... -->

    <!-- Кнопка для редактирования профиля -->
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
  {% endif %}

  <h3>Avatar:</h3>
  {% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="User Avatar" style="max-width: 200px;">
  {% else %}
    <p>No avatar available</p>
  {% endif %}

  <!-- Форма для отправки личного сообщения -->
  {% if request.user != user.user %}
    <form method="post" action="{% url 'send_private_message' user_id=user.user.id %}">
      {% csrf_token %}
      <textarea name="content" placeholder="Type your private message"></textarea>
      <button type="submit">Send Private Message</button>
    </form>
  {% endif %}
  {% if request.user == user.user %}
<a href="{% url 'view_private_messages' %}">View Private Messages</a>
  {% endif %}
{% endblock %}
