{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
  <h2>Приватные сообшения </h2>
{{ user.name }}

  {% if received_messages %}
    <h3>Полученные сообщения:</h3>
    <ul>
      {% for message in received_messages %}
        <li>
          {{ message.content }} - от {{ message.sender.username }}
          <form method="post" action="{% url 'send_private_message' user_id=message.sender.id %}">
            {% csrf_token %}
            <textarea name="content" placeholder="Ваше сообшение"></textarea>
            <button type="submit">Отправить</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if sent_messages %}
    <h3>Отправленые сообщения:</h3>
    <ul>
      {% for message in sent_messages %}
        <li>{{ message.content }} - to {{ message.recipient.username }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
